*{
    margin: 0;
}

.menuWrapper{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
    padding-top: 8px;
    text-align: right;
}

.subjectName{
    text-align: center;
    font-size: 1.55rem;
    font-weight: bold;
    text-decoration: underline;
    padding: 5px 10px;
    border-radius: 5px;
    /* background-color: hsla(36, 100%, 90%, 0.30); */
}

body{
    position: relative;
    height: 100dvh;
    width: 100%;
    font-family: 'Arial Narrow';    
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-image: url(images/bg-subject.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    z-index: -5
}

.mainWrapper{
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay{
    display: none;
}

svg{
    cursor: pointer;
}

#activeSideBar{
    display: none;
}

.closeButton{
    padding-left: 5px;
    border-radius: 5px;
}

/* .closeButton:hover{
    background-color: hsla(0, 0%, 100%, 0.60);
} */

.listContainer{
    display: block;
    position: absolute;
    top: 5px;
    right: -100%;
    /* flex-direction: column; */
    text-align: start;
    margin-left: auto;
    margin-right: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    /* background-color: hsla(0, 0%, 100%, 0.35); */
    background-color:hsl(38, 21%, 82%);
    width: 260px;
    border-radius: 8px;
    transition: 0.25s ease-out;
}


.subjectList{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.subjectList a{
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #222222;
    cursor: pointer;
    font-weight: bold;
}

.subjectList a:hover{
    background-color: hsla(0, 0%, 100%, 0.60);
}

#activeSideBar:checked ~ .listContainer{
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    transition: 0.25s ease-out;
    z-index: 10;
}

#activeSideBar:checked ~ #overlay{
    display: block;
    /* background: blue; */
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

#activeSideBar:checked ~ .menuButton{
    visibility: hidden;
}

.startDiv{
    display: block;
    text-align: center;
    transform: translateY(41vh);
}

.contentWrapper{
    height: 89%;
    margin: 0px 10px;
    padding: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startBtn{
    font-size: 1.35rem;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 4px black;
    /* background-color: #60697d; */
    background-color: hsl(220, 2%, 25%);
    color: white;
    cursor: pointer;
    transition: 0.4s ease-out;
}


.startBtn:hover{
    background-color: hsl(220, 2%, 40%);
}

.answerBtn{
    display: none;
    margin-bottom: 10px;
    font-size: 1.35rem;
    width: 180px;
    height: 40px;
    border-radius: 15px;
    /* background-color: #60697d; */
    background-color: hsl(120, 60%, 19%);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.4s ease-out;
}
.questionBtn{
    display: block;
    margin-bottom: 10px;
    font-size: 1.35rem;
    width: 180px;
    height: 40px;
    border-radius: 15px;
    /* background-color: #60697d; */
    /* background-color: hsl(120, 60%, 19%); */
    background-color: hsl(200, 70%, 19%);
    /* background-color: hsl(200, 40%, 30%); */
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.4s ease-out;
}

/* .questionBtn:hover{
    background-color: hsl(200, 40%, 50%);

} */
/* .answerBtn:hover{
    background-color: hsl(120, 89%, 26%);
} */

.quesOutter{
    display: block;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    height: 250px;
    width: 325px;
    font-size: 1.25rem;
    color: orange;
    background-color: hsl(220, 2%, 25%);
    padding: 10px 10px;
    border-radius: 6px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.wrapperHeader{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    padding: 5px 0px;
    border-radius: 6px;
}

#questionText{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2px 5px 15px 5px;
    height: 200px;
    width: 310px;
    font-size: 1.25rem;
    color: white;
    /* border: 1px solid white; */
    
}

.ansOutter{
    display: block;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    height: 250px;
    width: 325px;
    font-size: 1.25rem;
    color: orange;
    background-color: hsl(220, 2%, 25%);
    padding: 10px 10px;
    border-radius: 6px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}
#answerText{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2px 5px 15px 5px;
    height: 200px;
    width: 310px;
    font-size: 1.25rem;
    color: white;
}

/* @keyframes rotate{
    100%{transform: rotateX(360deg)}
}

.rotateContainer{
    animation-name: rotate;
    animation-duration: 2s;
} */